# Flutter specific
.DS_Store
*.class
*.dSYM
*.dpi
*.log
*.lock
pubspec.lock

# Firebase specific
firebase-*.json
# Google Service files
google-services.json
# Others
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
